/* limpa os css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
 
}

/* fonte */

@font-face {
    font-family: "Osake";
    src: url('fonts/osake/Osake.ttf') format('truetype');
}

.heebo {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }





  

/* remove formatação dos links e coloca o efeito*/
a {
    font-family: "Inter", sans-serif;
    color: inherit;
    text-decoration: none;
    transition: font-weight 0.3s;
}

a:hover {
    font-weight: bold;
}

/* começa css do menu */
header nav {
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    background: rgba(252, 239, 228, 0.50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .garca {
    width: 100%;
    height: auto;
}

menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-grow: 1;
}

h3 {
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 4.9px;
}

/* icones de bola */
.menu-bola {

    margin: 10px;
    flex-shrink: 0;
    width: 35px; 
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.menu-bola:hover {
    border: 2px solid #64520000;
}



/* acaba css do menu */

/* começa css do main */

main{
    display: flex;
    flex-direction: column;
    gap: 0; /* Remove o espaço entre os elementos*/
}

/* fundo html */
#header{
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fcd0ad,#fff0e1,#fff0e1);
    z-index: -5;
    overflow-x: hidden; /* Evita que o conteúdo saia da tela no eixo x */
}

#header h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 7.5vw;
    letter-spacing: 2px;
    text-shadow: 20px 20px 50px rgb(0, 0, 0);
}

#header p{
    color: #ffffff;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 20px;
}

#header hr{
    border: none; /* Remove a borda padrão */
    height: 2px; /* Define a altura da linha */
    background-color: #ff9b28; /* Cor de fundo da linha */
    width: 20%; /* Largura da linha */
    margin: 20px auto; /* Espaçamento ao redor e centraliza na horizontal */
}

#header img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

#montanha{
    position: absolute;
    padding-top: 15%;
    top: -50%;
    left: 0%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#pagoda{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: auto;
    height: 100vh;
    z-index: 2;

}

#nuvem{
    width: 200vh;
    z-index: -4;
}

#sol{
    position: absolute;
    transform: translate(100%, -25%);
    z-index: -3;
}

/* anima a garça */
@keyframes moveGarca {
    0% { left: -10%; }
    100% { left: 110%; }
}

#garca {
    padding-top: 25px;
    position: absolute;
    animation: moveGarca 15s linear infinite;
    z-index: 1;
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

#head-texto{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: blurIn 2s ease-out;
}

/* Regras responsivas */
@media (max-width: 768px) {
    #header {
        padding: 50px;
    }

    #header h1 {
        font-size: 6vw;
    }

    #header p {
        font-size: 1em;
    }

    #header hr {
        width: 50%;
    }

    .teste1 {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    #header {
        padding: 30px;
    }

    #header h1 {
        font-size: 6vw;
    }


    #header p {
        font-size: 0.9em;
    }

    #header hr {
        width: 70%;
    }

    .teste1 {
        padding: 10px;
    }
}
/* acaba fundo html */



/* sobre mim */
.sobre-mim {
    position: relative;
    overflow: hidden;
    display: grid;
    align-items: center; 
    justify-items: center; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr; 
    gap: 0px;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#foto-bolha {
    display: none;
}

#sobre1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 15%;
    margin-bottom: 2%;
    overflow: hidden;
    position: relative;
    /* border: #181f18 solid 2px; */
    width: 80vh;
    border-radius: 15%;

}

#sobre1 img {
    min-width: 450px;
}

#foto-sem-fundo{
    position: relative;
}

#fundo-ft-sobre-mim {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}



#montanha-sobre{
    position: absolute;
    object-fit: cover;
    top: -900px;
    width: 100%;
    height: auto;
    z-index: -2;

}





#fundo-sobre{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -3;

}

#sobre2 {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2%;

}



#sobre3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    gap: 10px;
}

#sobre3 button {
    background: #fcd0ad;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: #533001;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

#sobre3 button:hover {
    background: #ffba81;
}

.sobre-mim-texto {
    display: flex;
    flex-direction: column;
}

.sobre-mim h1 {
    position: relative;
    color: #EBA672;
    font-family: "Heebo", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    margin-bottom: 5px;
    margin-left: 20px;
}

.sobre-mim p {
    display: flex;
    align-items: center;
    justify-items: center;
    color: #000;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 12px;
    padding: 40px;
    width: 55%;
    top: 0;
    min-width: 550px;
    height: auto;
    background: rgba(247, 215, 191, 0.69);
    box-shadow: 14px 14px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    white-space: pre-line; /* Preserve quebras de linha */
}

.sobre-mim p::before {
    content: "";
    z-index: -1;
}




/* fim do sobre-mim */

/* começa habilidades */

h2{
    color: #000;
    font-family: heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 5%;
    margin-right: 150px;
    white-space: nowrap;
}
.habilidades-pai{
    background: #f5b6762a;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    min-width: 550px;

}

#habilidades-mobile{
    display: none;
}


.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5%;
    height: 566px;
    min-width: 550px;
    min-height: 100%;

}

.habilidades td{
padding: 10px;

}

.habilidades img{
    width: 85px;
    height: auto;
    margin: 5%
}

.habilidades h1, #habilidades-mobile h1{

    color:  rgb(71, 32, 0);
    font-family: "Heebo", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
    line-height:normal;
    margin-left: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



/* acaba .habilidades */

/* começa formação */

.container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;


}


#formacao{
    border-radius: 12px;
    padding: 40px;
    margin-left: 0px;
    min-width: 550px;
    height:auto;
    background: rgba(247, 215, 191, 0.69);
    box-shadow: 14px 14px 4px 0px rgba(0, 0, 0, 0.15);
}

.fundo{
    border-radius: 12px;
    padding: 40px;
    margin-right: 145px;
    min-width: 550px;
    height:auto;
    background: rgba(247, 215, 191, 0.69);
    box-shadow: 14px 14px 4px 0px rgba(0, 0, 0, 0.15);
}

.idioma{
    align-self:flex-start ;
    background-color: #eba67280;
    border-radius: 15px;
    padding: 10px;
}

.idioma::before{
    content: "";
    z-index: -1;
}

/* comeca projetos */

#pg-pai {
    background-image: url('public/images/flor-fundo.png');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.pg-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.pg-header h1 {
    position: relative;
    color: #7e5231;
    font-family: "Heebo", sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 20px;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.pg-header hr{
    width: 30%;
    height: 3px; 
    background-color: #e07c09; 
    margin: auto;
}

.pg-novo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 5%;
    box-sizing: border-box; 
}

.pg-novo img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 30px;
    display: block;
}

.pg-novo div {
    align-self: center;
    justify-self: center;
    padding: 0;
    margin: 0;
}

#item1 img {
    transition: opacity 0.3s ease-in-out;
}

#item1:hover img {
    opacity: 0;
}

#item1:hover {
    background-image: url('public/images/SPOTIFY PREMIUM GIF.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
}

/* fim de projetos */

/* whats app */
.whats {

    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}

.whats img {
    display: block;
    width: 50px;
    transition: transform 1s ease-in-out;
}

.whats img:hover {
    transform: scale(1.9);  /* Aumenta a escala da imagem para 1.9 vezes o tamanho original */
}
/* whats app */







/* começa carrossel */
/* para ocupar 100% da largura da tela */
.carousel {
    width: 100%;

}

.carousel-control-prev, .carousel-control-next {
    width: auto;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color:#552e109a;
    margin: 50px;
    border-radius: 15%;
    padding: 25%; /* Aumenta a área clicável */
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: #eba672;

}

.carousel li{
    list-style: none;

}

/* Cor do indicador ativo */
.carousel-indicators .active {
    background-color: black; 
}





/* Media Queries */
@media (max-width: 768px) {

    /* começa menu */
    header nav {
        flex-direction: column;
        height: auto;
    }

    menu {

        gap: 5px;
        max-width: fit-content;
    }


    h3 {
        color: #000;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        letter-spacing: 2px;
    }

    .menu-bola {
        width: 35px;
        height: 35px;
        margin: 2px;
    }

    header .menu-bola{
        display: none;
    }
    /* termina menu */

    /* começa sobre mim */
    #sobre2-texto {
        position: relative;
      }

    .sobre-mim h1{
        display: none;
    }

    #foto-bolha{

        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 1px #ffffff;
        position: relative;
        
        margin: 10px auto;

    }

    .sobre-mim p {
    width: 100%;
    min-width: auto;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;

  }

    #sobre1{
        display: none;
    }

    #sobre3 {
        flex-direction: row; /* Altere a direção para linha */
    }


    h3{
        font-size: 8px;
    }

    .sobre-mim {
        flex-direction: column;
    }

    #sobre3{
        margin-left: 0px;
    }


    .sobre-mim img, .sobre-mim p {
        width: 90%;
        min-width: 0;
    }

    #montanha-sobre{
        top: -390px;
        width: 1500px;
    }
    /* termina sobre mim  */

    /* comeca habilidades */

    .habilidades-pai{
        display: none;
    }

    #habilidades-mobile{
        background-image: url(public/images/garça4.gif);
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    #habilidades-mobile td{
        display: flex;
        align-items: center; 
        margin: 0; 
        padding: 0;
    }
    
    #habilidades-mobile img{
        display: block; 
        margin-right: 5px;
    }
    
    #habilidades-mobile h2{
        margin: 5%; 
        padding: 0;
    }


    /* termina .habilidades */



    /* começa paginas */

    #pg-pai {
        height: auto;
    }
    /* termina paginas  */

    .container {
        flex-direction: column;
        max-width: 100%;
    }

    #formacao, .fundo {
        width: 90%;
        min-width: 0;
        margin: 20px 0;
    }

    .pg-novo {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);
    }

    .whats {
        right: 2%;
        bottom: 2%;
    }

    .whats img {
        width: 40px;
    }

    footer p {
        font-size: 18px;
    }
}
